@model Donatech.Core.ViewModels.LoginViewModel
@{
    Layout = "_LayoutAccount";
}


@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            if ($('#validation > .validation-summary-valid > ul > li').html() == "" &&
                $('#validation > .session-expired').html() == undefined) {
                $('#validation').hide()
            } else {
                $('#validation').show()
            }
        })
    </script>
}

<form asp-action="Login" method="post">
    <div class="text-center">
        <div class="container text-center mb-4">
            <div class="col" style="text-align:center">
                <div asp-validation-summary="All" id="validation" class="alert alert-info text-justify" role="alert">
                    @{
                        if (Context.Request.Query["c"].Equals("401"))
                        {
                            <p class="session-expired">La sesi&oacute;n no ha sido iniciada o ha expirado :(</p>
                        }
                    }

                    @Html.ValidationSummary()
                </div>
            </div>

            <div class="donatech-login">
                <img class="mb-4" src="~/images/donatech.png" alt="" width="72" height="72">

                <p class="h4 mb-4">Donatech - Login</p>

                @Html.TextBoxFor(l => l.Email, htmlAttributes: new { @class = "form-control mb-4", placeholder = "Email" })
                @Html.ValidationMessageFor(l => l.Email)

                @Html.PasswordFor(l => l.Password, htmlAttributes: new { @class = "form-control mb-4", placeholder = "Password" })
                @Html.ValidationMessageFor(l => l.Password)

                <button type="submit" id="btnLogin" class="btn btn-info btn-block my-4">Iniciar Sesi&oacute;n</button>

                <div class="row">
                    <div class="col">
                        @Html.ActionLink("Olvido su contraseña?", "ForgotPassword")
                    </div>
                </div>
                <br />
                <div>
                    <div class="col">
                        @Html.ActionLink("Registrarse", "CreateAccount")
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
